#app {
    max-width: 700px;
    margin: 5px auto;
}

.dashboard {
    display: flex;
    flex-flow: row nowrap;
    margin: 5px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    width: 560px;
}

.dashboard-chart {
    flex: 2 2 auto;
}

.dashboard .dashboard-update-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    margin-left: auto;
}

.dashboard .dashboard-content {
    min-height: 150px;
}

.dashboard .dashboard-buttons  {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.dashboard .dashboard-buttons > .button {
    margin: auto 5px;
    cursor: pointer;
}